h2 {
    color: rgb(244, 245, 244);
    size: 2in;
    text-align: center;
    font-family: century gothic;
    text-decoration: underline;
}

.jumbotron {
    color: #0f1101;
    width: 70%;
    float: right;
}

.i-am-center {
    margin: auto;
    max-width: auto;
}

#bitcoin-price {
    color: rgb(223, 224, 217);
    float: left;
    width: 30%;
}


/* .float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid red;
} */